<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.hexor.dao.ITopicalReplayMapper">
   <sql id="columnTopicalReplay">
		 topicalId,
		 replayAuthorId,
		 author,
		 content,
		 authority,
		 time
   </sql>
 
    <resultMap type="com.hexor.repo.TopicalReplay" id="topicalReplayResultMap">
        <id property="id" column="id"/>
        <result property="topicalId" column="topicalId"/>
        <result property="replayAuthorId" column="replayAuthorId"/>
        <result property="author" column="author"/>
        <result property="content" column="content"/>
        <result property="authority" column="authority"/>
        <result property="time" column="time"/>
    </resultMap>

    <insert id="insertTopicalReplay" parameterType="com.hexor.repo.TopicalReplay" >
        insert into TopicalReplay(<include refid="columnTopicalReplay"/> ) values(
        #{topicalId},
        #{replayAuthorId} ,
        #{author} ,
        #{content},
        #{authority},
        #{time}
        )
    </insert>

    <!--查询当前主题的回复总数-->
    <select id="selectReplaysCount" parameterType="String" resultType="long">
        select count(*) from TopicalReplay where topicalId=#{value}
    </select>

    <!--查询当前主题按照回复时间的降序分页 pager的type用来设置为主题的id  -->
    <select id="selectReplaysLimit" parameterType="com.hexor.repo.Pager" resultMap="topicalReplayResultMap">
         select * from TopicalReplay  where topicalId=#{type} order by time desc limit #{index},#{data}
    </select>

    <!--查询回复总数-->
    <select id="selectTotalCount" resultType="long">
        select count(*) from TopicalReplay
    </select>
    <!--删除帖子的对应的回复-->
    <delete id="deleteTopicalReplays" parameterType="String">
        delete from TopicalReplay where topicalId=#{value}
    </delete>
    <!--用户回复信息-->
    <select id="selectByUserId" parameterType="String" resultMap="topicalReplayResultMap">
        select * from TopicalReplay where replayAuthorId=#{value}
    </select>
 </mapper>